* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}

:root {
    --primary-color: #ed174a;
     --secondary-color: #233a95; 
    --font-color: #363636;
    --text-col-white: #eee;
    --bg-color: #fff;
    --heading-color: #060606;
    --border-color-light: #eee;
    --border-color-light-2: #eee;
    --bg-grey: #f4f4f4;
    --bg-light: #fafafb;
}

.header-user-icon a {
    display: inline-block;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    border: 1px solid var(--border-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-user-icon a i {
    color: var(--heading-color);
    font-size: 18px;
}



.site-brand-text a h1 {
    font-size: 32px;
    color: var(--heading-color);
    font-weight: bold;
    margin: 1px;
}

.site-brand-text a p {
    text-transform: uppercase;
    font-size: 13px;
    color: var(--heading-color);
    font-weight: 500;

}


.header-search-icon a i {
    font-style: normal;
    color: var(--heading-color);
    line-height: 30px;
    font-size: 1.2rem;
    font-weight: 900 !important;
}

.header-shop-icon a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: rgba(237, 23, 73, 0.144);
    text-align: center;
    padding-top: 12px;
    border-radius: 50%;
}

.header-shop-icon a i {
    color: var(--primary-color);
    text-align: center;
    font-size: 20px;
}


.site-navigation-header {
    background-color: var(--secondary-color);
}

.collapseable-navbar-menu {
    justify-content: center;
}

.nav-navigation-text {
    padding: 1px 15px !important;
    font-size: 16px !important;
    color: #fff !important;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid #ffffff00 !important;
    border-radius: 5px;
    transition: all .8s ease;
}

.nav-navigation-text:hover{
    border-bottom: 1px solid #ffffffcb !important;
    border-radius: 5px;
}

.dropdown-toggle::after{
    content: none !important;
}





.nav-product-dropdown-menu{
    width: 700px !important;
    left: -250px !important;
}
.nav-product-dropdown-box ul{
    padding: 0;
}
.nav-product-dropdown-box ul li{
    list-style: none;
}


.nav-product-dropdown-box ul h5{
    width: 100%;
    text-align: right;
    font-size: 20px;
}
.nav-product-dropdown-box ul h5 span{
    color: var(--primary-color);
    font-style: italic;
}

.nav-product-dropdown-box ul h6{
    width: 100%;
    box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.2);
    font-size: 30px;
    color: var(--secondary-color);
    margin-bottom: 10px !important;
    padding-bottom: 10px !important;
}
.nav-product-dropdown-box ul li{
    margin-top: 2px !important;
}
.nav-product-dropdown-box ul li a{
    color: #000;
    font-weight: 600;
    font-size: 16px;
}
.nav-product-dropdown-box ul li a span{
    background-color: red;
    color: #fff;
    display: inline-block !important;
    width: auto;
    height: auto;
    font-size: 12px;
    padding: 3px !important;
}

.nav-product-dropdown-box ul li img{
    width: 100%;
}







/* header end here  */

/* banner start  */


#site-banner {
    background: url(../res/banner8.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.banner-first-box {
    color: var(--bg-color);
}

.banner-first-box P {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 28px;
}

.banner-first-box h2 {
    padding-left: 0 !important;
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
}

.btn-style {
    padding: 12px 34px 14px !important;
    font-size: 16px !important;
    color: #fff !important;
    background-color: var(--primary-color) !important;
    border-radius: 10px !important;
    font-weight: bold !important;
    outline: none;
    border: none;
    transition: all .8s ease-out !important;
}

.btn-style:hover {
    color: #fff;
    background: var(--secondary-color) !important;
}




.banner-second-box img {
    width: 100%;
}


/* banner end here  */

/* grocery section  */


#grocery-section {
    width: 100%;
    height: 100%;
}

.grocery-container {
    max-width: 1200px !important;
}


.grocery-left-box{
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grocery-left-box img{
    width: 100%;

}

.video-btn-animation{
    width: 60px;
    height: 60px;   
}
.video-btn-animation a{
    display: inline-block;
    color: #000000;
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 50%;
    transition: transform .2s ease;
    animation: ripples .5s linear infinite;
}
.video-btn-animation a:hover{
    transform: scale(1.05, 1.05);
}
.video-btn-animation a span{
    margin-top: 20px;
    margin-left: 5px;
}

@keyframes ripples{
0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }
  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }

}

.grocery-menu-nav-tab {
    border: none !important;
}

.grocery-menu-nav-tab button {
    border: none !important;
    text-transform: uppercase;
    border-radius: 5px;
    color: var(--font-color) !important;
    font-size: 18px;
    border: 1px solid transparent !important;
}

.grocery-menu-nav-tab button:hover {
    border: 1px solid #00000015 !important;
}

.nav-link.active {
    background-color: var(--primary-color) !important;
    color: var(--text-col-white) !important;
    border: 1px solid transparent !important;
}




.grocery-tabs-box {
    width: 32% !important;
}

.card-images-box img {
    width: 100%;
    height: 100%;
    cursor: default;
}



.slider-shadow-box {
    width: 100%;
    height: 100%;
    background-color: #0606063b !important;
    border-radius: 7px;
    cursor: default;
    transform-origin: right bottom;
    transform: rotate(90deg);
    transition: all 0.3s;
}

.grocery-tabs-box:hover .slider-shadow-box {
    transform: rotate(0deg);
}



.slider-preview-box {
    background-color: #fff;
    color: #060606;
    width: 2.3rem;
    height: 2.5rem;
    left: 50%;
    top: -50%;
    transform: translateX(-50%);
    transition: all .2s ease-in;

}

.slider-preview-box:hover {
    transition: all 0s ease-in;
    color: #fff;
    background-color: var(--primary-color);
    /* transition: all .3s ease-in-out; */
}

.grocery-tabs-box:hover .slider-preview-box {
    top: 40%;

}




.grocery-tab-card img {
    background-color: #f4f4f4 !important;
    border-radius: 2px;
}

.grocery-tab-card {
    border: none !important;
}

.grocery-card-body {
    padding: 10px 0 !important;
}

.grocery-card-body a {

    display: inline-block;
    font-size: 17.5px;
    width: max-content !important;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 700;
    transition: .5s all;
}

.grocery-card-body a:hover {
    color: var(--secondary-color);
}

.grocery-card-body p {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.grocery-card-body span {
    color: #999;
    font-size: .8em;
    text-decoration: line-through !important;
    padding-right: 1em;
    font-weight: 300;
}

.grocery-card-button {
    font-size: 14px !important;
    font-weight: normal !important;
    color: var(--heading-color) !important;
    margin: 0 !important;
    text-decoration: none;
    text-transform: capitalize;
    padding: .5em 1.5em !important;
    border: 1px solid #c1c1c1 !important;
    border-radius: 5px !important;
    background: transparent;
    outline: none;
    transition: .5s all !important;
}

.grocery-card-button:hover {
    background: #3c43a4 !important;
    color: #fff !important;
    border: 1px solid #3c43a4 !important;
}

/* grocory cart end */

/* second banner start */

.second-banner-left {
    background: linear-gradient(to left top, #00000002, #00000002), url(../res/bgs1.jpg) no-repeat;
    background-size: cover;
    min-height: 400px;
}

.second-banner-left-text-box {
    text-align: right;
}

.second-banner-left-text-box h4 {
    font-size: 15px;
    color: #000000;
    text-transform: capitalize;
    /* margin-bottom: 4em; */
}

.second-banner-left-text-box h3 {
    font-size: 2.5em;
    font-weight: 700;
    margin: .1em 0 0 0;
    color: var(--heading-color);
    font-style: italic;
    margin-bottom: 2rem;
}

.second-banner-left-text-box h3 span {
    font-style: normal;
    font-size: 1em;
    font-weight: 700;
    margin: .1em 0 0 0;
    color: var(--primary-color);
}

.second-banner-left-text-box button {
    transition: all .4s ease;
    color: #ed174a;
}

.second-banner-left-text-box button:hover {
    color: #222;

}

.second-banner-left-text-box button ul {
    display: grid;
    grid-template-columns: auto auto;
}

.second-banner-left-text-box button ul li {
    list-style: none;
}

.second-ban-animation-btn {
    width: auto;
    height: 20px;
    padding: 0 10px 0 0;
    margin-top: 5px;
    overflow: hidden;
    font-size: 25px !important;
}

.second-ban-animation-btn i {
    display: block;
    transition: all .5s ease-in-out;
    font-size: 22px;
}


.arrow-right-one {
    transform: translatey(0);
}

.arrow-right-two {
    transform: translateY(20px);
}

.second-banner-left-text-box button:hover .arrow-right-one {
    transform: translateY(-20px);
}

.second-banner-left-text-box button:hover .arrow-right-two {
    transform: translateY(-22px);
}




.second-banner-right {
    background: linear-gradient(to left top, #00000038, #00000030), url(../res/bgs2.jpg);
    background-size: cover;
}

.second-banner-right p {
    width: auto;
    padding: 18px 22px;
    background-color: #222222;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

/* second banner end */



/* spacial deal section */


.spacial-deal-section-heading h3::before{
    content: '';
    position: absolute;
    top: 30%;
    left: 30%;
    background: var(--primary-color);
    height: 1px;
    width: 10%;
}
.spacial-deal-section-heading h3{
    font-size: 2em;
  color: var(--heading-color);
  position: relative;
  padding-bottom: 1em;
  text-align: center;
}
.spacial-deal-section-heading h3:after{
    content: '';
  position: absolute;
  bottom: 79%;
  right: 43%;
  background: var(--heading-color);
  height: 1px;
  width: 10%;
  transform: rotate(135deg);
}




.spacial-deal-left-text-box-one{
    bottom: 40px;
    left: 15%;
}
.spacial-deal-left-text-box-one p::before{
    content: "We Offer";
    margin-left: -40px;
    cursor: text;
}
.spacial-deal-left-text-box-one p{
    color: var(--text-col-white);
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 20px;
}


.spacial-deal-left-text-box-two {
    bottom: 40px;
    left: 15%;
}
.spacial-deal-left-text-box-two p::before{
    content: "Best Store";
    margin-left: -40px;
    cursor: text;
}
.spacial-deal-left-text-box-two p{
    color: var(--text-col-white);
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 20px;
}


.spacial-deal-left-image-box span{
    position: absolute;
    color: var(--bg-color);
    top: 20px;
    right: 30px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #3c43a4;
    text-align: center;
    padding-top: 15px;
    font-weight: 500;
    font-size: 22px;
}



.spacial-deal-left-image-box {
    border-radius: 12px !important;
    border: 5px solid transparent;
}


.spacial-deal-left-image-box img{
    transition: all 1s ease;
    width: 100%;
}
.spacial-deal-left-image-box:hover.spacial-deal-left-image-box img{
    transform: scale3d(1.1, 1.1, 1);
}




.spacial-deal-right-image-box img{
    border-radius: 12px;
    
}
.spacial-deal-right-text-box{
    top: 40px;
    right: 70px;
}
.spacial-deal-right-text-box p{
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
.spacial-deal-right-text-box p span:first-child{
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
}
.spacial-deal-right-text-box p span:nth-child(3){
    color: red;
    font-weight: 700;
}
.spacial-deal-right-text-box p span:last-child{
    color: var(--primary-color);
    font-weight: 700;
}


/* spacial deal section end */


/* top products section   */
.top-products-container{
    background-color: #fafafb;
}


.top-product-heading h3::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 31%;
    background: var(--primary-color);
    height: 1px;
    width: 10%;
}
.top-product-heading h3{
    font-size: 2rem;
    color: var(--heading-color);
}
.top-product-heading h3:after{
    content: '';
  position: absolute;
  bottom: 75%;
  right: 43%;
  background: var(--heading-color);
  height: 1px;
  width: 10%;
  transform: rotate(135deg);
}


.product-tab-card{
        border: none !important;
}


.product-images-box{
    background-color: #f4f4f4;
    
}
.product-box-img-one{
    position: relative;
    z-index: 99;
    animation: productChanger 1s infinite linear;
    visibility: visible;
    animation-delay: .7s;
    animation-play-state: paused;
}
.product-box-img-two{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    animation: productChanger 1s infinite linear;
    animation-delay: .2s;
    animation-play-state: paused;
}
.top-product-boxes:hover .product-box-img-one, .top-product-boxes:hover .product-box-img-two{
    animation-play-state: running;
}


@keyframes productChanger {
    from{
        z-index: -99;
        visibility: hidden;
    }
    to{
        z-index: 99;
        visibility: visible;
    }
}



.product-slider-shadow-box {
    width: 100%;
    height: 100%;
    background-color: #0606063b !important;
    border-radius: 7px;
    cursor: default;
    transform-origin: right bottom;
    transform: rotate(90deg);
    transition: all 0.3s;
    position: relative;
    z-index: 999;
}

.top-product-boxes:hover .product-slider-shadow-box {
    transform: rotate(0deg);
}



.product-slider-preview-box {
    background-color: #fff;
    color: #060606;
    width: 2.3rem;
    height: 2.5rem;
    left: 50%;
    top: -50%;
    transform: translateX(-50%);
    transition: all .2s ease-in;
    z-index: 999999;
}

.product-slider-preview-box:hover {
    transition: all 0s ease-in;
    color: #fff;
    background-color: var(--primary-color);
    /* transition: all .3s ease-in-out; */
}

.top-product-boxes:hover .product-slider-preview-box {
    top: 40%;

}


.product-card-body {
    padding: 10px 0 !important;
}

.product-card-body a {

    display: inline-block;
    font-size: 17.5px;
    width: max-content !important;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 700;
    transition: .5s all;
}

.product-card-body a:hover {
    color: var(--secondary-color);
}

.product-card-body p {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.product-card-body p span {
    color: #999;
    font-size: .9em;
    text-decoration: line-through !important;
    padding-right: 1em;
    font-weight: 300;
    font-style: normal;
}

.product-card-button {
    font-size: 14px !important;
    font-weight: normal !important;
    color: var(--heading-color) !important;
    margin: 0 !important;
    text-decoration: none;
    text-transform: capitalize;
    padding: .5em 1.5em !important;
    border: 1px solid #c1c1c1 !important;
    border-radius: 5px !important;
    background: transparent;
    outline: none;
    transition: .5s all !important;
}

.product-card-button:hover {
    background: #3c43a4 !important;
    color: #fff !important;
    border: 1px solid #3c43a4 !important;
}

/* top products section end  */


/* top brands logo section start */


.brands-carousel-container h3::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 31%;
    background: var(--primary-color);
    height: 1px;
    width: 10%;
}
.brands-carousel-container h3{
    position: relative;
    font-size: 2rem;
    color: var(--heading-color);
    
}
.brands-carousel-container h3:after{
    content: '';
  position: absolute;
  bottom: 75%;
  right: 43%;
  background: var(--heading-color);
  height: 1px;
  width: 10%;
  transform: rotate(135deg);
}


.owl-carousel-wrapper{
    margin: 60px 0 40px 0;
}


.owl-carousel{
    display: flex !important;
    justify-content: center !important;

}



.owl-nav{
    width: max-content !important;
    height: 20px;
}
.owl-next{
    position: absolute;
    right: 0;
    top: 55px;
    font-size: 30px;
    transform: translateX(15px);
}
.owl-prev{
    position: absolute;
    left: 30px;
    top: 55px;
    transform: translateX(-45px);
}
.owl-prev span, .owl-next span{
    font-size: 50px;
    color: #000000;
}
.owl-prev:hover, .owl-next:hover{
    background-color: transparent !important;
    color: #000000 !important;
}


.owl-dots{
    display: none ;
}



.item img{
    filter: grayscale(1);
    transition: all .3s ease;
    cursor: pointer;
}
.item img:hover{
    filter: grayscale(0);
}




/* top brands logo section end  */


/* newsletter section start  */

#newsletter-section{
    background-color: var(--secondary-color);
    padding: 20px 0;
}
.newsletter-container {
    text-align: left;
}

.newsletter-left-box h4{
    color: var(--text-col-white);
    font-size: 35px;
    font-weight: 700;
}
.newsletter-left-box p{
    color: var(--bg-grey);
    font-size: 16px;
}


.newsletter-form-box input {
    border-radius: 90px 0 0 90px;
    height: 40px;
    width: 100%;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
}

.newsletter-form-box button {
    border-radius: 0 90px 90px 0;
    background-color: var(--primary-color);
    padding: 0 35px;
    color: var(--bg-color) !important;
    transition: all .5s ease;
}


/* newsletter section end  */

/* footer start here  */

.contact-box ul, .info-box ul, .category-box ul, .profile-box ul , .profile-box ul {
    padding-left: 0 !important;
}
.contact-box ul li, .info-box ul li, .category-box ul li, .profile-box ul li, .profile-box ul li{
    list-style: none;
}




.contact-box h4::before, .info-box h4::before, .category-box h4::before, .profile-box h4::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 60px !important;
    height: 2px !important;
    background-color: var(--secondary-color);
    
}
.contact-box h4,.info-box h4, .category-box h4, .profile-box h4{
    position: relative;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 10px;
}
.contact-box ul li{
    padding: 10px 0;
}
.contact-box ul li a{
 font-size: 16px;
 color: var(--font-color);
 transition: all .3s ease;
}
.contact-box ul li a:hover{
    color: var(--secondary-color);
}
.contact-box span{
    width: 40px;
    height: 40px;
    background-color: #edeff7;
    text-align: center;
    padding-top: 12px;
    margin-right: 10px;
    border-radius: 50%;
    color: var(--secondary-color);
    font-size: 16px;
}



.info-box ul li, .category-box ul li{
    padding-top: 10px;
}
.info-box ul li a{
    font-size: 15px;
    color: var(--font-color);
    transition: all .3s ease;
}
.info-box ul li a:hover{
    color: var(--secondary-color);
}

.info-box ul li a span, .category-box ul li a span{
    padding-right: 5px;
    font-size: 12px;
    font-weight: 700;
}



.category-box ul li a{
    font-size: 16px;
    color: var(--font-color);
    transition: all .2s ease;
}
.category-box ul li a:hover{
    color: var(--secondary-color);
}


.profile-box ul li{
    padding-top: 5px;
}
.profile-box ul li a{
    font-size: 15px;
    color: var(--font-color);
    transition: all .2s ease;
}
.profile-box ul li a:hover{
    color: var(--secondary-color);
}

.follow-us-box h5{
    color: var(--secondary-color);
}
.follow-us-box ul li{
    display: inline-block;
    padding-right: 3px;
}
.follow-us-box ul li a{
    display: block;
    width: 35px !important;
    height: 35px;
    background-color: #ebebeb;
    text-align: center;
    padding-top: 5.5px;
    border-radius: 50%;
    transition: all .5s ease;
}

.follow-us-box ul li a:hover{
    color: white;
    background-color: var(--secondary-color);
}






@media (max-width: 992px) {
    .banner-first-box h2{
        font-size: 29px;
        line-height: 1.5;
    }
    .grocery-left-box{
        width: 100% !important;
    }

    .top-products-container{
        max-width: 95% !important;
    }


    .product-card-body a{
        font-size: 15px;
    }
    .spacial-deal-container{
        max-height: fit-content;
    }

    .spacial-deal-right-image-box{
        height: min-content;
    }
    .spacial-deal-right-image-box img{
        height: 25rem;
    }
}
@media (max-width: 768px) {
    .top-product-boxes{
        padding: 0 !important;
    }

    .top-products-container{
        max-width: 90% !important;
        padding: 0 !important;
    }

    .second-banner-right{
        height: 350px;
    }



    .spacial-deal-right-image-box{
        display: flex;
        justify-content: center;
    }
    .spacial-deal-right-image-box img{
        width: 100%;
    }
    .spacial-deal-right-text-box{
        right: 10%;
    }

    .newsletter-container{
        max-width: 80% !important;
        margin: auto;
    }
  }
  @media (max-width: 576px) {
    .grocery-menu-nav-tab button {
        font-size: .8rem;
        padding: 5px 10px;
    }
  }